---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import AboutMe from '../components/AboutMe.astro';
import FormationInfo from '../components/FormationInfo.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import AnimatedBackground from '../components/AnimatedBackground.astro';
---

<Layout title="Home">
  <Header />
  <main>
	  <AboutMe />
    <div id="container-all" class="with-animated-bg">
      <AnimatedBackground />
      <div id="formation-section">
        <FormationInfo />
      </div>
      <div id="skills-section">
        <Skills />
      </div>
      <div id="projects-section">
        <Projects />
      </div>
    </div>
  </main>
</Layout>

<style>
  .with-animated-bg {
    position: relative;
  }
</style>